body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #864aff
 }
 
 h1 {
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
  color: #00fdcb
 }
 
 h2, h3 {
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
 }

a {
  color: #00B7FF;
}
